/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

.navbar.navbar-light.navbar-expand-md {
  background: linear-gradient(110deg, rgb(241,223,61), rgb(154,154,154) 65%, rgb(70,67,215) 100%);
}

.dropdown-toggle {
  font-size: 24px;
  margin: 10px;
  color: rgb(236,241,12);
}

.navbar-toggler-icon {
  width: 150px;
  height: 100px;
  border-width: 0px;
}

@media (min-width:768px) {
  .navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}



.navbar
{
  background-image: linear-gradient(to left, 111111, 555555)
}

.text-left {
  font-family: 'PT Serif', serif;
  font-size: 22px;
}

#navcol-1 {
  opacity: 1;
}

.mr-auto {
  font-size: 24px;
}

/* .sidebar_image {
  width: 175px; 
  height: 150px;
} */

/* .sidebar_image.style {
  width: 175px;
  height: 150px;
} */