/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');











/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

.navbar.navbar-light.navbar-expand-md {
  background: linear-gradient(110deg, rgb(241,223,61), rgb(154,154,154) 65%, rgb(70,67,215) 100%);
}

.navbar-toggler-icon {
  width: 150px;
  height: 100px;
  border-width: 0px;
}

@media (min-width:768px) {
  .navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}



.navbar
{
  background-image: linear-gradient(to left, 111111, 555555)
}
/* The side navigation menu */
.content {
  position: relative;
}
.project_name {
  font-family: Georgia, serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #910101;
}
.image_link {}

.image-thumbnail{}

.side-image {
  width: 250px;
  margin-right: 50px;
  position: absolute;
  top: 100px;
  right: 0;
  padding: 0;
  text-align: center;
  /* border: 1px solid red; */
}

.col-sm-2 {
  width: 250px;
  margin-right: 325px;
  position: absolute;
  top: 100px;
  right: 0;
  padding: 0;
  text-align: center;}
 


.gap-10 { 
	width:100%; 
	height:10px; 
} 
.gap-20 { 
	width:100%; 
	height:20px; 
} 
.gap-30 { 
	width:100%; 
	height:30px; 
} 
	 
.sidebarcontents {
  padding: 5px 0px 5px 0px;
}

/*.sidebar {
  width: 250px;
  margin-right: 50px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  text-align: left;
  border: 1px solid red;
}

/* Sidebar links */
/*.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}